<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.jhyvarin.beacon"
      version="0.1.0">
    <name>Becon</name>
    <description>Test estimote beacons plugin</description>
    <license>MIT</license>
    <keywords>phonegap,estimote,beacon</keywords>


    <js-module src="www/beacon.js" name="Beacon">
        <clobbers target="window.beacontest" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Beacon">
                <param name="android-package" value="com.jhyvarin.beacon.BeaconPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/iBeacon.java" target-dir="src/com/jhyvarin/ibeacon" />      
     </platform>          
</plugin>